<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum - Home</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>

<body>
    {{if .UserStatus}}
    {{template "login"}}
    {{else}}
    {{template "nav"}}
    {{end}}
    <div class="main-content">
        <!-- Sidebar with Categories -->
        <div class="side-bar">
            {{if .UserStatus}}
            {{template "side"}}
        {{end}}
            <h2>Categories</h2>
            <ul>
                <li><a href="/category/Tech-Support">Tech Support</a></li>
                <li><a href="/category/General-Discussion">General Discussion</a></li>
                <li><a href="/category/Tutorials">Tutorials</a></li>
                <li><a href="/category/Announcements">Announcements</a></li>
            </ul>
        </div>
        
        
        <!-- Posts Container -->
        
        <div class="posts-container">
            {{range .Posts}}
            <div class="post">
                <h3>{{.Title}}</h3>
                <p>{{.Content}}</p>
                <p class="category">
                    Categories: 
                    {{range .Categories}}
                    <span class="category-item">-[{{.}}]</span>
                    {{end}}
                </p>
                <p><i>Posted by <b>{{.Username}} </b> on {{.Date}}</i></p>

            </div>
            {{end}}
        </div>
        
    </div>
    <div id="cmt" class="dd">

    </div>
    <footer>
        <p>© 2024 Forum. All rights reserved.</p>
        <p><a href="/terms">Terms of Service</a> | <a href="/privacy">Privacy Policy</a></p>
    </footer>
</body>

</html>