{{define "nav"}}

<header>
    <!-- <div class="header-buttons"> -->
        <a href="/" class="logo-link">
            <img src="../../static/images/logo.png" alt="Forum" class="logo">
        </a>
            <!-- Theme Toggle Button -->
    <button id="theme-toggle" class="theme-toggle-btn">
        <span class="material-icons">light_mode</span>
    </button>
    <!-- </div> -->

    <div class="header-buttons">
        <a href="/login">
            <img src="../../static/images/profile.png" alt="">
            Join Us</a>
    </div>
</header>


{{end}}

{{define "login"}}
<header>
    <a href="/" class="logo-link">
        <img src="../../static/images/logo.png" alt="Forum" class="logo">
    </a>
        <!-- Theme Toggle Button -->
        <button id="theme-toggle" class="theme-toggle-btn">
            <span class="material-icons">light_mode</span>
        </button>
    <div class="header-buttons">
        <a href="/post">
            <img src="../../static/images/post.png" alt="">
            Create Post</a>
        <a href="/logout">
            <img src="../../static/images/logout.png" alt="">
            Logout</a>
    </div>
</header>
{{end}}