

h1{
    color: rgb(0, 96, 252);
    font-size:8vw;
    text-align: center;
}
h3{
    color: rgb(0, 96, 252);
    font-size:5vw;
    text-align: center; 
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    

}
.material-icons{
    color: rgb(0, 96, 252);
    font-size: 5vw;
    font-weight: 900;
   
  
}