<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="static/css/auth.css">
</head>
<body>

    <header>
       <a href="/"> <h1>Register</h1></a>
    </header>
    <div class="container">
        {{if .}} 
        <p style="color: red;">User Already Exist!!</p>    
        {{end}}
        <form action="/registerInfo" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>